// BREAKPOINTS FOR THE GRID
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin impossible-mobile {
  @media (max-width: 323px) {
    @content;
  }
}

.pokedex {
  width: 100%;

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & div {
      display: flex;
      gap: var(--gap-8);
      align-items: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap-12);

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    @include small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    @include impossible-mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
  }

  &__messages {
    text-align: center;
    padding: 100px 0;
  }

  &__pagination {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-8);
  }
}
