@mixin pokeCardDetail-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@mixin pokeCardDetail-flex-gap-20 {
  display: flex;
  gap: var(--gap-20);
}

.pokeCard {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-12);
  background-color: var(--bg-secondary-lightmode);
  box-shadow: 0px 0px 4px 0px var(--drop-shadow-black);
  cursor: pointer;

  &__grid {
    flex-direction: column;
    gap: var(--gap-20);
    padding: var(--padding-20);
    min-width: 135px;

    &-image--size {
      width: 100px;
      height: 100px;
    }
  }

  &__list {
    padding: var(--padding-20) var(--padding-24);
    justify-content: space-between;

    &-image--size {
      width: 50px;
      height: 50px;
    }

    & div {
      display: flex;
      align-items: end;
      gap: var(--gap-20);
    }
  }

  &:hover {
    color: var(--text-onprimary-darkmode);
    background: var(--bg-activeElement);
  }

  &--color-darkmode {
    background-color: var(--bg-secondary-darkmode);
  }
}

.pokeCardDetail {
  &__topSection {
    @include pokeCardDetail-flex-column();
  }

  &__basicInfo {
    @include pokeCardDetail-flex-column();
    gap: var(--gap-8);

    &-measurements {
      @include pokeCardDetail-flex-gap-20();
    }
  }

  &__types {
    @include pokeCardDetail-flex-gap-20();
    width: 100%;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__image--size {
    width: 180px;
    height: 180px;
  }

  &__stats {
    @include pokeCardDetail-flex-column();
    gap: var(--gap-8);
  }
}

// MISSING LIST CHANGE CLASS.
