@mixin active-element-state {
  color: var(--text-onprimary-darkmode);
  background: var(--bg-activeElement);

  & * {
    color: var(--text-onprimary-darkmode);
  }
}

@mixin mobile-up {
  @media (min-width: 500px) {
    @content;
  }
}

.btn {
  width: fit-content;
  min-height: 48px;
  min-width: 33px;
  padding: var(--padding-12);
  border-radius: var(--border-radius-12);
  cursor: pointer;
  border: none;

  transition: all 0.1s ease;

  box-shadow: 0px 0px 4px 0px var(--drop-shadow-black);

  color: var(--text-onprimary-lightmode);
  background-color: var(--bg-secondary-lightmode);

  & span {
    vertical-align: sub;
  }

  &--color-darkmode {
    color: var(--text-onprimary-darkmode);
    background-color: var(--bg-secondary-darkmode);
  }

  &--color-toggled {
    @include active-element-state;
  }

  @include mobile-up {
    &:hover {
      @include active-element-state;
      transform: translateY(-1px);
    }
  }
}
