@use './reset' as *;
@use './variables' as *;
@use './utilities' as *;

//ENTRY POINT CSS
body {
  font-family: var(--font-family-body);
  min-height: 100vh;
  background: var(--bg-primary-lightmode);
  color: var(--text-onprimary-lightmode);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: var(--size-900);
  padding: var(--padding-80) var(--padding-20);
  margin: 0 auto;
  gap: var(--gap-60);
  align-items: center;
}
