@use './reset' as *;
@use './variables' as *;
@use './utilities' as *;
@use './mixins.scss' as *;

//ENTRY POINT CSS

body {
  font-family: var(--font-family-body);
  min-height: 100vh;
  // color: var(--text-onprimary-lightmode);
  background: var(--purple-900);
  margin: 0;

  &.color-darkmode {
    color: var(--text-onprimary-darkmode);
  }

  &.color-darkmode::before {
    background: var(--bg-primary-darkmode);
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    background: var(--bg-primary-lightmode);
    z-index: -100;
  }
}

#root {
  display: flex;
  flex-direction: column;
  max-width: var(--size-900);
  min-height: 100dvh;
  padding: var(--padding-80) var(--padding-20);
  margin: 0 auto;
  gap: var(--gap-60);
  align-items: center;

  @include mobile {
    padding: var(--padding-40) var(--padding-20);
  }
}
