//UTILITY CLASSES
@use './mixins' as *;

//TEXT UTILITY CLASSES
// Display styles
.display-titles {
  font-family: var(--font-family-body);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-tracking-10);
  text-transform: uppercase;
}

.display-label-regular {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-tracking-5);
  text-transform: uppercase;
}

.display-label-medium {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-tracking-2);
  text-transform: uppercase;
}

// Paragraph styles
.paragraph-s-regular {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
}

.paragraph-s-medium {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
}

.paragraph-m {
  font-family: var(--font-family-body);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semibold);
}

.paragraph-l {
  font-family: var(--font-family-body);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-extrabold);
}

//TEXT COLOR
.text-light {
  color: var(--text-onprimary-lightmode);
}

.text-dark {
  color: var(--text-onprimary-darkmode);
}
