//UTILITY CLASSES
@use './mixins' as *;

//TEXT UTILITY CLASSES
// Display styles
.display-titles {
  font-family: var(--font-family-body);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-tracking-10);
  text-transform: uppercase;
  line-height: normal;
  margin-right: -20px;
  // Letter spacing adds extra space after the last letter, people have been complaining for years. We counter it by adding negative margins.
}

.display-label-regular {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-tracking-5);
  text-transform: uppercase;
  line-height: normal;
}

.display-label-medium {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-tracking-2);
  text-transform: uppercase;
  line-height: normal;
}

// Paragraph styles
.paragraph-s-regular {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
}

.paragraph-s-medium {
  font-family: var(--font-family-body);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
}

.paragraph-m {
  font-family: var(--font-family-body);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
}

.paragraph-l {
  font-family: var(--font-family-body);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-extrabold);
  line-height: normal;
}

//TEXT COLOR
.text-light {
  color: var(--text-onprimary-lightmode);
}

.text-dark {
  color: var(--text-onprimary-darkmode);
}

//ALIGNMENTS
.text-align-center {
  text-align: center;
}

.align-end {
  width: 100%;
  text-align: end;
}

// THEMECHANGE
.body--color-darkmode {
  background: var(--bg-primary-darkmode);
  color: var(--text-onprimary-darkmode);
  background-attachment: fixed;
}
